<header class="mb-auto" {% if page.layout != 'home' %}style="background: url('/assets/images/cover-square.jpg') center top; background-size: cover; "{% endif %}>
    <div {% if page.layout != 'home' %}style="background: #000000;
background: linear-gradient(180deg,rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);" {% endif %}>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Camino Couple</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link {% if page.layout == 'home' %}active{% endif %}" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if page.layout == 'gear' or page.layout == 'geardetail' %}active{% endif %}"  href="/gear">Gear List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if page.layout == 'about' %}active{% endif %}" href="/about">About</a>
                        </li>
                    </ul>
                    </div>
                </div>
            </nav>
            <br class="clearfix">
        </div>
    </div>
</header>