---
layout: default
---

<div>
    <div class="container">
        <h1>Gear Lists</h1>
        <hr>
        <p>Our packing list for each of our caminos</p>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% assign gearData = site.data.gear | sort %}
            {% for hash in gearData reversed %}
                {% assign filename = hash[0] %}
                {% assign data = hash[1] %}
                <div class="col">
                <div class="card shadow-sm">
                    <a href="/gear/{{ filename }}">
                        <div class="ratio ratio-16x9">
                            <img src="{{ data.thumbnail }}" class="img-fluid" style="object-fit: cover;" alt="Card image" />
                        </div>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ data.name }}</h5>
                        <p class="card-text">{{ data.description }}</p>
                        <hr />
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">{{ data.season }}</small>
                            <small class="text-body-secondary">{{ data.weight }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

